body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  margin: 0;
  color: #333;
}
h1, h2, h3, h4 {
  color: #444;
}
button {
  background: #185a9d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #185a9d;
}
input, select, textarea {
  padding: 6px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
